#tabs {
  display: flex; /* Aligns children (the buttons) in a row */
  justify-content: flex-start; /* Aligns children at the start of the container */
  align-items: center; /* Aligns children vertically in the center */
  /* Other styling can go here */
}

.tab-link {
  padding: 10px 15px; /* Adjust the padding to your liking */
  margin-right: 5px; /* Optional: Adds space between buttons */
  border: 1px solid #ccc; /* Example border, adjust as needed */
  background-color: #f8f8f8; /* Example background color */
  cursor: pointer; /* Changes the mouse cursor on hover */
  text-decoration: none; /* Removes underline from links if these are anchor tags */
}

.tab-content {
  display: none;
}

.tab-content:first-of-type {
  display: block; /* Show the first tab content */
}

.active-tab {
  display: block; /* This class will be used to show the active tab content */
}

.phone-number {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.circle-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow multiple rows */
  gap: 10px; /* Spacing between circles */
}

.circle-and-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 100%;
  /* Remove margin if using gap property */
  display: inline-block;
  cursor: pointer;
}

/* If you want to manually control the spacing between rows */
.circle-container + .circle-container {
  margin-top: 10px; /* This adds a 50px margin to the top of each new row of circles */
}

.delete-button {
  background-color: blue; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 10px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Pointer/hand icon */
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); /* Arrow shape */
  margin-left: 10px; /* Adds some space between the circle and the button */
}

.pound-button {
  background-color:white; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 10px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Pointer/hand icon */
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); /* Arrow shape */
  margin-left: 10px; /* Adds some space between the circle and the button */
}

.background {
  background: linear-gradient(135deg, rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5)),
              linear-gradient(225deg, rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5));
  background-blend-mode: screen;
}
